.Home {
  width: 50%;
  margin: 50px auto;
  border: 1px solid #888;
  background: url("Component/Home/sky.jpg");
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: black;
  .head {
    font-family: fantasy;
    font-size: 50px;
  }
  input {
    height: 50px;
    margin: 10px 0;
  }
  button {
    width: 100%;
    height: 50px;
  }
  .result {
    padding: 20px 5px;
    color: $blue-color;

    .time {
    }
    .temp {
      font-size: 72px;
      font-weight: bold;
    }
  }
  .footer {
    display: flex;
    color: $blue-color;
    .wind,
    .hum {
      width: 50%;
      padding: 10px 0;
      text-align: center;
      border: 1px solid white;
      i {
        font-size: 29px;
      }
    }
  }
  @media (max-width: 767px) {
    width: 90%;
    margin-top: 180px;
  }
}
